*.csproj
*.unityproj
*.sln
*.userprefs
*.pidb
*.suo

Library/
Temp/UnityLockfile
Temp/__EditModeScene
Temp/UnityTempFile-1455b300341244c0d90bfc70767142ec
Temp/UnityTempFile-76a48ae25ad0b47449aed5d6dd246ed7
Temp/UnityTempFile-b78a63dea86934e5b9ca81856b586b31
Temp/UnityTempFile-f0109f8e5ceb44cdd9990d5abfb2f402
Temp/
Assembly-UnityScript-Editor-vs.unityproj
Assembly-UnityScript-Editor.unityproj
Assembly-UnityScript-vs.unityproj
Assembly-UnityScript.unityproj
Assembly-CSharp-vs.csproj
Assembly-CSharp.csproj
Gold-csharp.sln
Gold.sln
Gold.userprefs
Assembly-CSharp-Editor-vs.csproj
Assembly-CSharp-Editor.csproj
Assembly-UnityScript-firstpass-vs.unityproj
Assembly-UnityScript-firstpass.unityproj
Assets/UnityVS
UnityVS*
obj/
